:root {
    --md-primary-fg-color: #3f51b5;
    --md-primary-fg-color--light: #7986cb;
    --md-primary-fg-color--dark: #303f9f;
    --md-accent-fg-color: #536dfe;
}

.md-header {
    background-color: var(--md-primary-fg-color);
}

.md-tabs {
    background-color: var(--md-primary-fg-color--dark);
}

.md-nav__title {
    color: var(--md-primary-fg-color);
} 